nifi-custom-controllers/src/test/resources/Avro_Parquet_Write_Timestamp.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>6fa321df-018a-1000-4d54-e63246385c8e</groupId>
    <name>Avro_Parquet_Write_Timestamp</name>
    <snippet>
        <processGroups>
            <id>c480ee44-79a7-3acd-0000-000000000000</id>
            <parentGroupId>ed422005-c9f5-3c90-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>c480ee44-79a7-3acd-a873-5045580b45b2</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>3f4984d7-a8bc-344d-0000-000000000000</id>
                    <parentGroupId>c480ee44-79a7-3acd-0000-000000000000</parentGroupId>
                    <versionedComponentId>f70604a7-23f1-3596-b928-509bfae87d97</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c480ee44-79a7-3acd-0000-000000000000</groupId>
                        <id>1b49fad3-a3f6-3029-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ebbf03a1-7461-3d43-962d-8fd27d53a8b9</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c480ee44-79a7-3acd-0000-000000000000</groupId>
                        <id>f2e74fc5-0b1d-3e1c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b82939ef-188a-39b0-9255-3fe98729c9f1</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>45708e20-eb08-3533-0000-000000000000</id>
                    <parentGroupId>c480ee44-79a7-3acd-0000-000000000000</parentGroupId>
                    <versionedComponentId>15ce61b4-32a5-3f7f-81c6-09ff95c521bb</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c480ee44-79a7-3acd-0000-000000000000</groupId>
                        <id>5ae15349-8a7a-3a37-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b016e73d-16eb-3294-81a1-d6d251ba5e23</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c480ee44-79a7-3acd-0000-000000000000</groupId>
                        <id>5d40144f-49d1-3aa1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>08bb1617-c6b8-36f2-8523-328a404336ee</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>72d05ecd-4605-30a5-0000-000000000000</id>
                    <parentGroupId>c480ee44-79a7-3acd-0000-000000000000</parentGroupId>
                    <versionedComponentId>8d3cf3f8-aa08-3297-b52a-c34e6277c893</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c480ee44-79a7-3acd-0000-000000000000</groupId>
                        <id>ab6e7c88-4275-3585-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8d1d4b04-eb8f-3c9b-8c10-96d4661d3ae6</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c480ee44-79a7-3acd-0000-000000000000</groupId>
                        <id>f5142004-6179-3d1e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>bf77ae99-d7cd-3d4f-b3f9-69145cd7ae60</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7745d250-a975-3eaf-0000-000000000000</id>
                    <parentGroupId>c480ee44-79a7-3acd-0000-000000000000</parentGroupId>
                    <versionedComponentId>5dc12c28-2abd-3c8f-9621-05ad1b2560f5</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c480ee44-79a7-3acd-0000-000000000000</groupId>
                        <id>02b35b2e-35f4-362c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f299960b-acc1-379e-9861-5b5fbba55f04</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c480ee44-79a7-3acd-0000-000000000000</groupId>
                        <id>5d40144f-49d1-3aa1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>08bb1617-c6b8-36f2-8523-328a404336ee</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>839b4457-6435-3462-0000-000000000000</id>
                    <parentGroupId>c480ee44-79a7-3acd-0000-000000000000</parentGroupId>
                    <versionedComponentId>ba88c69e-01b0-3c60-855a-39a08bd6a0a7</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c480ee44-79a7-3acd-0000-000000000000</groupId>
                        <id>f2e74fc5-0b1d-3e1c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b82939ef-188a-39b0-9255-3fe98729c9f1</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c480ee44-79a7-3acd-0000-000000000000</groupId>
                        <id>5ae15349-8a7a-3a37-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b016e73d-16eb-3294-81a1-d6d251ba5e23</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a74fe7d5-248c-35be-0000-000000000000</id>
                    <parentGroupId>c480ee44-79a7-3acd-0000-000000000000</parentGroupId>
                    <versionedComponentId>9c4b0986-56d6-3568-8776-e4ba3bac8b8f</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c480ee44-79a7-3acd-0000-000000000000</groupId>
                        <id>f5142004-6179-3d1e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>bf77ae99-d7cd-3d4f-b3f9-69145cd7ae60</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c480ee44-79a7-3acd-0000-000000000000</groupId>
                        <id>1cc61859-095e-3abe-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>951fa1af-5c60-38d2-994a-a9a90e3b7780</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c4621086-22f1-3cd2-0000-000000000000</id>
                    <parentGroupId>c480ee44-79a7-3acd-0000-000000000000</parentGroupId>
                    <versionedComponentId>ce5aeff8-97b3-30a3-a3e2-b18137b5dd36</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c480ee44-79a7-3acd-0000-000000000000</groupId>
                        <id>5d40144f-49d1-3aa1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>08bb1617-c6b8-36f2-8523-328a404336ee</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c480ee44-79a7-3acd-0000-000000000000</groupId>
                        <id>aa3fc23a-1052-339b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>74f13667-c5c3-30d0-85b5-3440082a5b30</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ee3fe410-00b0-3554-0000-000000000000</id>
                    <parentGroupId>c480ee44-79a7-3acd-0000-000000000000</parentGroupId>
                    <versionedComponentId>cfd7f186-8243-3bed-bf5c-7a1900e50cfc</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c480ee44-79a7-3acd-0000-000000000000</groupId>
                        <id>1cc61859-095e-3abe-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>951fa1af-5c60-38d2-994a-a9a90e3b7780</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c480ee44-79a7-3acd-0000-000000000000</groupId>
                        <id>02b35b2e-35f4-362c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f299960b-acc1-379e-9861-5b5fbba55f04</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>34d0f542-5086-386b-0000-000000000000</id>
                    <parentGroupId>c480ee44-79a7-3acd-0000-000000000000</parentGroupId>
                    <versionedComponentId>ded21d41-97af-3f24-9037-4a96b8d425d0</versionedComponentId>
                    <bulletinLevel>WARN</bulletinLevel>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>
                                <name>Schema Write Strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                            <value>
                                <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService
                                </identifiesControllerService>
                                <name>schema-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>
                                <dependencies>
                                    <dependentValues>hwx-schema-ref-attributes</dependentValues>
                                    <dependentValues>hwx-content-encoded-schema</dependentValues>
                                    <propertyName>Schema Write Strategy</propertyName>
                                </dependencies>
                                <name>schema-protocol-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
                                <name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
                                <dependencies>
                                    <dependentValues>confluent-encoded</dependentValues>
                                    <dependentValues>schema-name</dependentValues>
                                    <dependentValues>hwx-schema-ref-attributes</dependentValues>
                                    <dependentValues>hwx-content-encoded-schema</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry
                                </identifiesControllerService>
                                <name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-name</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-name</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-name</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-text-property</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>
                                <name>compression-format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>cache-size</key>
                            <value>
                                <name>cache-size</name>
                            </value>
                        </entry>
                        <entry>
                            <key>encoder-pool-size</key>
                            <value>
                                <name>encoder-pool-size</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>AvroRecordSetWriter (Timestamp)</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>avro-embedded</value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>1</value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>schema-text-property</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${output_avro_schema}</value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>NONE</value>
                        </entry>
                        <entry>
                            <key>cache-size</key>
                            <value>1000</value>
                        </entry>
                        <entry>
                            <key>encoder-pool-size</key>
                            <value>32</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.avro.AvroRecordSetWriter</type>
                </controllerServices>
                <controllerServices>
                    <id>61a12267-7f61-3751-0000-000000000000</id>
                    <parentGroupId>c480ee44-79a7-3acd-0000-000000000000</parentGroupId>
                    <bulletinLevel>WARN</bulletinLevel>
                    <bundle>
                        <artifact>nifi-custom-controllers-nar</artifact>
                        <group>io.datadynamics.nifi</group>
                        <version>1.0.7</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>
                                <name>Schema Write Strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                            <value>
                                <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService
                                </identifiesControllerService>
                                <name>schema-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>
                                <dependencies>
                                    <dependentValues>hwx-schema-ref-attributes</dependentValues>
                                    <dependentValues>hwx-content-encoded-schema</dependentValues>
                                    <propertyName>Schema Write Strategy</propertyName>
                                </dependencies>
                                <name>schema-protocol-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
                                <name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
                                <dependencies>
                                    <dependentValues>confluent-encoded</dependentValues>
                                    <dependentValues>schema-name</dependentValues>
                                    <dependentValues>hwx-schema-ref-attributes</dependentValues>
                                    <dependentValues>hwx-content-encoded-schema</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry
                                </identifiesControllerService>
                                <name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-name</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-name</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-name</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-text-property</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>
                                <name>compression-format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>cache-size</key>
                            <value>
                                <name>cache-size</name>
                            </value>
                        </entry>
                        <entry>
                            <key>encoder-pool-size</key>
                            <value>
                                <name>encoder-pool-size</name>
                            </value>
                        </entry>
                        <entry>
                            <key>timestamp-format-property-name</key>
                            <value>
                                <name>timestamp-format-property-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>add-hours</key>
                            <value>
                                <name>add-hours</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>TimestampFormatAvroRecordSetWriter</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>avro-embedded</value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>1</value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>schema-text-property</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${output_avro_schema}</value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>NONE</value>
                        </entry>
                        <entry>
                            <key>cache-size</key>
                            <value>1000</value>
                        </entry>
                        <entry>
                            <key>encoder-pool-size</key>
                            <value>32</value>
                        </entry>
                        <entry>
                            <key>timestamp-format-property-name</key>
                            <value>properties</value>
                        </entry>
                        <entry>
                            <key>add-hours</key>
                            <value>9</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>io.datadynamics.nifi.record.avro.TimestampFormatAvroRecordSetWriter</type>
                </controllerServices>
                <controllerServices>
                    <id>7b9b59d3-b30e-3944-0000-000000000000</id>
                    <parentGroupId>c480ee44-79a7-3acd-0000-000000000000</parentGroupId>
                    <versionedComponentId>71df6e9f-8f31-3f7f-b34b-10e99d021b83</versionedComponentId>
                    <bulletinLevel>WARN</bulletinLevel>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
                                <name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
                                <dependencies>
                                    <dependentValues>confluent-encoded</dependentValues>
                                    <dependentValues>schema-name</dependentValues>
                                    <dependentValues>hwx-schema-ref-attributes</dependentValues>
                                    <dependentValues>hwx-content-encoded-schema</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry
                                </identifiesControllerService>
                                <name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-name</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-name</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-name</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-text-property</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csv-reader-csv-parser</key>
                            <value>
                                <name>csv-reader-csv-parser</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
                                <name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
                                <name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
                                <name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>
                                <name>CSV Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>
                                <dependencies>
                                    <dependentValues>custom</dependentValues>
                                    <propertyName>CSV Format</propertyName>
                                </dependencies>
                                <name>Value Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Record Separator</key>
                            <value>
                                <dependencies>
                                    <dependentValues>custom</dependentValues>
                                    <propertyName>CSV Format</propertyName>
                                </dependencies>
                                <name>Record Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Skip Header Line</key>
                            <value>
                                <name>Skip Header Line</name>
                            </value>
                        </entry>
                        <entry>
                            <key>ignore-csv-header</key>
                            <value>
                                <name>ignore-csv-header</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>
                                <dependencies>
                                    <dependentValues>custom</dependentValues>
                                    <propertyName>CSV Format</propertyName>
                                </dependencies>
                                <name>Quote Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>
                                <dependencies>
                                    <dependentValues>custom</dependentValues>
                                    <propertyName>CSV Format</propertyName>
                                </dependencies>
                                <name>Escape Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                            <value>
                                <dependencies>
                                    <dependentValues>custom</dependentValues>
                                    <propertyName>CSV Format</propertyName>
                                </dependencies>
                                <name>Comment Marker</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Null String</key>
                            <value>
                                <dependencies>
                                    <dependentValues>custom</dependentValues>
                                    <propertyName>CSV Format</propertyName>
                                </dependencies>
                                <name>Null String</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>
                                <dependencies>
                                    <dependentValues>custom</dependentValues>
                                    <propertyName>CSV Format</propertyName>
                                </dependencies>
                                <name>Trim Fields</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>
                                <name>csvutils-character-set</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csvutils-allow-duplicate-header-names</key>
                            <value>
                                <dependencies>
                                    <dependentValues>custom</dependentValues>
                                    <propertyName>CSV Format</propertyName>
                                </dependencies>
                                <name>csvutils-allow-duplicate-header-names</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Trim double quote</key>
                            <value>
                                <dependencies>
                                    <dependentValues>rfc-4180</dependentValues>
                                    <propertyName>CSV Format</propertyName>
                                </dependencies>
                                <name>Trim double quote</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>CSVReader (Timestamp)</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>schema-text-property</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${input_avro_schema}</value>
                        </entry>
                        <entry>
                            <key>csv-reader-csv-parser</key>
                            <value>commons-csv</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>yyyy-MM-dd HH:mm:ss.SSS</value>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>custom</value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>,</value>
                        </entry>
                        <entry>
                            <key>Record Separator</key>
                            <value>\n</value>
                        </entry>
                        <entry>
                            <key>Skip Header Line</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>ignore-csv-header</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>"</value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>\</value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                        </entry>
                        <entry>
                            <key>Null String</key>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>UTF-8</value>
                        </entry>
                        <entry>
                            <key>csvutils-allow-duplicate-header-names</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>Trim double quote</key>
                            <value>true</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.csv.CSVReader</type>
                </controllerServices>
                <controllerServices>
                    <id>7cffabfe-4a86-3fe7-0000-000000000000</id>
                    <parentGroupId>c480ee44-79a7-3acd-0000-000000000000</parentGroupId>
                    <versionedComponentId>7cffabfe-4a86-3fe7-bbd2-ae203076e3b5</versionedComponentId>
                    <bulletinLevel>WARN</bulletinLevel>
                    <bundle>
                        <artifact>nifi-custom-controllers-nar</artifact>
                        <group>io.datadynamics.nifi</group>
                        <version>1.0.7</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>
                                <name>Schema Write Strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                            <value>
                                <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService
                                </identifiesControllerService>
                                <name>schema-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>
                                <dependencies>
                                    <dependentValues>hwx-schema-ref-attributes</dependentValues>
                                    <dependentValues>hwx-content-encoded-schema</dependentValues>
                                    <propertyName>Schema Write Strategy</propertyName>
                                </dependencies>
                                <name>schema-protocol-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
                                <name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
                                <dependencies>
                                    <dependentValues>confluent-encoded</dependentValues>
                                    <dependentValues>schema-name</dependentValues>
                                    <dependentValues>hwx-schema-ref-attributes</dependentValues>
                                    <dependentValues>hwx-content-encoded-schema</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry
                                </identifiesControllerService>
                                <name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-name</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-name</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-name</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-text-property</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>cache-size</key>
                            <value>
                                <name>cache-size</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-type</key>
                            <value>
                                <name>compression-type</name>
                            </value>
                        </entry>
                        <entry>
                            <key>row-group-size</key>
                            <value>
                                <name>row-group-size</name>
                            </value>
                        </entry>
                        <entry>
                            <key>page-size</key>
                            <value>
                                <name>page-size</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dictionary-page-size</key>
                            <value>
                                <name>dictionary-page-size</name>
                            </value>
                        </entry>
                        <entry>
                            <key>max-padding-size</key>
                            <value>
                                <name>max-padding-size</name>
                            </value>
                        </entry>
                        <entry>
                            <key>enable-dictionary-encoding</key>
                            <value>
                                <name>enable-dictionary-encoding</name>
                            </value>
                        </entry>
                        <entry>
                            <key>enable-validation</key>
                            <value>
                                <name>enable-validation</name>
                            </value>
                        </entry>
                        <entry>
                            <key>writer-version</key>
                            <value>
                                <name>writer-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>avro-write-old-list-structure</key>
                            <value>
                                <name>avro-write-old-list-structure</name>
                            </value>
                        </entry>
                        <entry>
                            <key>avro-add-list-element-records</key>
                            <value>
                                <name>avro-add-list-element-records</name>
                            </value>
                        </entry>
                        <entry>
                            <key>timestamp-format-property-name</key>
                            <value>
                                <name>timestamp-format-property-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>add-hours</key>
                            <value>
                                <name>add-hours</name>
                            </value>
                        </entry>
                        <entry>
                            <key>int96-fields</key>
                            <value>
                                <name>int96-fields</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>TimestampFormatParquetRecordSetWriter</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>no-schema</value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>1</value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>schema-text-property</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${output_avro_schema}</value>
                        </entry>
                        <entry>
                            <key>cache-size</key>
                            <value>1000</value>
                        </entry>
                        <entry>
                            <key>compression-type</key>
                            <value>UNCOMPRESSED</value>
                        </entry>
                        <entry>
                            <key>row-group-size</key>
                        </entry>
                        <entry>
                            <key>page-size</key>
                        </entry>
                        <entry>
                            <key>dictionary-page-size</key>
                        </entry>
                        <entry>
                            <key>max-padding-size</key>
                        </entry>
                        <entry>
                            <key>enable-dictionary-encoding</key>
                        </entry>
                        <entry>
                            <key>enable-validation</key>
                        </entry>
                        <entry>
                            <key>writer-version</key>
                        </entry>
                        <entry>
                            <key>avro-write-old-list-structure</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>avro-add-list-element-records</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>timestamp-format-property-name</key>
                            <value>properties</value>
                        </entry>
                        <entry>
                            <key>add-hours</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>int96-fields</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>io.datadynamics.nifi.record.parquet.TimestampFormatParquetRecordSetWriter</type>
                </controllerServices>
                <labels>
                    <id>c2b685f7-694c-3e89-0000-000000000000</id>
                    <parentGroupId>c480ee44-79a7-3acd-0000-000000000000</parentGroupId>
                    <position>
                        <x>240.0</x>
                        <y>488.0</y>
                    </position>
                    <versionedComponentId>c0f7715c-ed9d-3596-ab7e-c473f6719f13</versionedComponentId>
                    <height>632.0</height>
                    <label>CSV To Parquet</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>12px</value>
                        </entry>
                    </style>
                    <width>392.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <labels>
                    <id>fc274997-6c64-370f-0000-000000000000</id>
                    <parentGroupId>c480ee44-79a7-3acd-0000-000000000000</parentGroupId>
                    <position>
                        <x>808.0</x>
                        <y>232.0</y>
                    </position>
                    <versionedComponentId>f2b97578-94a7-30f2-8925-45393a8f0f28</versionedComponentId>
                    <height>648.0</height>
                    <label>CSV To Avro To Parquet</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>12px</value>
                        </entry>
                    </style>
                    <width>896.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <processors>
                    <id>02b35b2e-35f4-362c-0000-000000000000</id>
                    <parentGroupId>c480ee44-79a7-3acd-0000-000000000000</parentGroupId>
                    <position>
                        <x>824.0</x>
                        <y>264.0</y>
                    </position>
                    <versionedComponentId>f299960b-acc1-379e-9861-5b5fbba55f04</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>record-reader</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory
                                    </identifiesControllerService>
                                    <name>record-reader</name>
                                </value>
                            </entry>
                            <entry>
                                <key>record-writer</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory
                                    </identifiesControllerService>
                                    <name>record-writer</name>
                                </value>
                            </entry>
                            <entry>
                                <key>replacement-value-strategy</key>
                                <value>
                                    <name>replacement-value-strategy</name>
                                </value>
                            </entry>
                            <entry>
                                <key>/_converted_date</key>
                                <value>
                                    <name>/_converted_date</name>
                                </value>
                            </entry>
                            <entry>
                                <key>/_partition_date</key>
                                <value>
                                    <name>/_partition_date</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>record-reader</key>
                                <value>7b9b59d3-b30e-3944-0000-000000000000</value>
                            </entry>
                            <entry>
                                <key>record-writer</key>
                                <value>61a12267-7f61-3751-0000-000000000000</value>
                            </entry>
                            <entry>
                                <key>replacement-value-strategy</key>
                                <value>record-path-value</value>
                            </entry>
                            <entry>
                                <key>/_converted_date</key>
                                <value>format(/_timestamp_long, "yyyy-MM-dd HHmmssSSS")</value>
                            </entry>
                            <entry>
                                <key>/_partition_date</key>
                                <value>format(toDate(/_timestamp_string, "yyyy-MM-dd HH:mm:ss.SSS"), "yyyy-MM-dd
                                    HHmmssSSS")
                                </value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateRecord (CSV To Avro)</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.UpdateRecord</type>
                </processors>
                <processors>
                    <id>1b49fad3-a3f6-3029-0000-000000000000</id>
                    <parentGroupId>c480ee44-79a7-3acd-0000-000000000000</parentGroupId>
                    <position>
                        <x>256.0</x>
                        <y>968.0</y>
                    </position>
                    <versionedComponentId>ebbf03a1-7461-3d43-962d-8fd27d53a8b9</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Directory</key>
                                <value>
                                    <name>Directory</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Conflict Resolution Strategy</key>
                                <value>
                                    <name>Conflict Resolution Strategy</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Create Missing Directories</key>
                                <value>
                                    <name>Create Missing Directories</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Maximum File Count</key>
                                <value>
                                    <name>Maximum File Count</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Last Modified Time</key>
                                <value>
                                    <name>Last Modified Time</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Permissions</key>
                                <value>
                                    <name>Permissions</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Owner</key>
                                <value>
                                    <name>Owner</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Group</key>
                                <value>
                                    <name>Group</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Directory</key>
                                <value>/home/nifi/data</value>
                            </entry>
                            <entry>
                                <key>Conflict Resolution Strategy</key>
                                <value>replace</value>
                            </entry>
                            <entry>
                                <key>Create Missing Directories</key>
                                <value>true</value>
                            </entry>
                            <entry>
                                <key>Maximum File Count</key>
                            </entry>
                            <entry>
                                <key>Last Modified Time</key>
                            </entry>
                            <entry>
                                <key>Permissions</key>
                            </entry>
                            <entry>
                                <key>Owner</key>
                            </entry>
                            <entry>
                                <key>Group</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutFile</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutFile</type>
                </processors>
                <processors>
                    <id>1cc61859-095e-3abe-0000-000000000000</id>
                    <parentGroupId>c480ee44-79a7-3acd-0000-000000000000</parentGroupId>
                    <position>
                        <x>824.0</x>
                        <y>496.0</y>
                    </position>
                    <versionedComponentId>951fa1af-5c60-38d2-994a-a9a90e3b7780</versionedComponentId>
                    <bundle>
                        <artifact>nifi-parquet-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>compression-type</key>
                                <value>
                                    <name>compression-type</name>
                                </value>
                            </entry>
                            <entry>
                                <key>row-group-size</key>
                                <value>
                                    <name>row-group-size</name>
                                </value>
                            </entry>
                            <entry>
                                <key>page-size</key>
                                <value>
                                    <name>page-size</name>
                                </value>
                            </entry>
                            <entry>
                                <key>dictionary-page-size</key>
                                <value>
                                    <name>dictionary-page-size</name>
                                </value>
                            </entry>
                            <entry>
                                <key>max-padding-size</key>
                                <value>
                                    <name>max-padding-size</name>
                                </value>
                            </entry>
                            <entry>
                                <key>enable-dictionary-encoding</key>
                                <value>
                                    <name>enable-dictionary-encoding</name>
                                </value>
                            </entry>
                            <entry>
                                <key>enable-validation</key>
                                <value>
                                    <name>enable-validation</name>
                                </value>
                            </entry>
                            <entry>
                                <key>writer-version</key>
                                <value>
                                    <name>writer-version</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>compression-type</key>
                                <value>UNCOMPRESSED</value>
                            </entry>
                            <entry>
                                <key>row-group-size</key>
                            </entry>
                            <entry>
                                <key>page-size</key>
                            </entry>
                            <entry>
                                <key>dictionary-page-size</key>
                            </entry>
                            <entry>
                                <key>max-padding-size</key>
                            </entry>
                            <entry>
                                <key>enable-dictionary-encoding</key>
                            </entry>
                            <entry>
                                <key>enable-validation</key>
                            </entry>
                            <entry>
                                <key>writer-version</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertAvroToParquet</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.parquet.ConvertAvroToParquet</type>
                </processors>
                <processors>
                    <id>5ae15349-8a7a-3a37-0000-000000000000</id>
                    <parentGroupId>c480ee44-79a7-3acd-0000-000000000000</parentGroupId>
                    <position>
                        <x>256.0</x>
                        <y>512.0</y>
                    </position>
                    <versionedComponentId>b016e73d-16eb-3294-81a1-d6d251ba5e23</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>record-reader</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory
                                    </identifiesControllerService>
                                    <name>record-reader</name>
                                </value>
                            </entry>
                            <entry>
                                <key>record-writer</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory
                                    </identifiesControllerService>
                                    <name>record-writer</name>
                                </value>
                            </entry>
                            <entry>
                                <key>replacement-value-strategy</key>
                                <value>
                                    <name>replacement-value-strategy</name>
                                </value>
                            </entry>
                            <entry>
                                <key>/_converted_date</key>
                                <value>
                                    <name>/_converted_date</name>
                                </value>
                            </entry>
                            <entry>
                                <key>/_partition_date</key>
                                <value>
                                    <name>/_partition_date</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>record-reader</key>
                                <value>7b9b59d3-b30e-3944-0000-000000000000</value>
                            </entry>
                            <entry>
                                <key>record-writer</key>
                                <value>7cffabfe-4a86-3fe7-0000-000000000000</value>
                            </entry>
                            <entry>
                                <key>replacement-value-strategy</key>
                                <value>record-path-value</value>
                            </entry>
                            <entry>
                                <key>/_converted_date</key>
                                <value>format(/_timestamp_long, "yyyy-MM-dd HHmmssSSS")</value>
                            </entry>
                            <entry>
                                <key>/_partition_date</key>
                                <value>format(toDate(/_timestamp_string, "yyyy-MM-dd HH:mm:ss.SSS"), "yyyy-MM-dd
                                    HHmmssSSS")
                                </value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateRecord (CSV To Parquet)</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.UpdateRecord</type>
                </processors>
                <processors>
                    <id>5d40144f-49d1-3aa1-0000-000000000000</id>
                    <parentGroupId>c480ee44-79a7-3acd-0000-000000000000</parentGroupId>
                    <position>
                        <x>256.0</x>
                        <y>264.0</y>
                    </position>
                    <versionedComponentId>08bb1617-c6b8-36f2-8523-328a404336ee</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Delete Attributes Expression</key>
                                <value>
                                    <name>Delete Attributes Expression</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Store State</key>
                                <value>
                                    <name>Store State</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Stateful Variables Initial Value</key>
                                <value>
                                    <name>Stateful Variables Initial Value</name>
                                </value>
                            </entry>
                            <entry>
                                <key>canonical-value-lookup-cache-size</key>
                                <value>
                                    <name>canonical-value-lookup-cache-size</name>
                                </value>
                            </entry>
                            <entry>
                                <key>input_avro_schema</key>
                                <value>
                                    <name>input_avro_schema</name>
                                </value>
                            </entry>
                            <entry>
                                <key>output_avro_schema</key>
                                <value>
                                    <name>output_avro_schema</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
                                <key>Store State</key>
                                <value>Do not store state</value>
                            </entry>
                            <entry>
                                <key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
                                <key>canonical-value-lookup-cache-size</key>
                                <value>100</value>
                            </entry>
                            <entry>
                                <key>input_avro_schema</key>
                                <value>{
                                    "namespace": "nifi.timestamp",
                                    "type": "record",
                                    "name": "Test",
                                    "fields": [
                                    {"name": "_timetestamp_long", "type": "long"},
                                    {"name": "_date", "type": "string"},
                                    {"name": "_time", "type": "string"},
                                    {"name": "_timestamp_string", "type": {"type": "string", "logicalType":
                                    "timestamp-millis"}},
                                    {"name": "type", "type": "string"},
                                    {"name": "latitude", "type": "string"},
                                    {"name": "longitude", "type": "string"},
                                    {"name": "altitude", "type": "string"},
                                    {"name": "speed", "type": "string"}
                                    ]
                                    }
                                </value>
                            </entry>
                            <entry>
                                <key>output_avro_schema</key>
                                <value>{
                                    "namespace": "nifi.timestamp",
                                    "type": "record",
                                    "name": "Test",
                                    "fields": [
                                    {"name": "_timetestamp_long", "type": {"type": "long", "logicalType":
                                    "timestamp-millis"}},
                                    {"name": "_date", "type": "string"},
                                    {"name": "_time", "type": "string"},
                                    {"name": "_timestamp_string", "type": {"type": "long", "logicalType":
                                    "timestamp-millis"}},
                                    {"name": "type", "type": "string"},
                                    {"name": "latitude", "type": "double"},
                                    {"name": "longitude", "type": "double"},
                                    {"name": "altitude", "type": "double"},
                                    {"name": "speed", "type": "double"}
                                    ],
                                    "properties" : {
                                    "column.all.pattern" : "yyyy-MM-dd HH:mm:ss.SSS"
                                    }
                                    }
                                </value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute (Avro Schema)</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>aa3fc23a-1052-339b-0000-000000000000</id>
                    <parentGroupId>c480ee44-79a7-3acd-0000-000000000000</parentGroupId>
                    <position>
                        <x>256.0</x>
                        <y>40.0</y>
                    </position>
                    <versionedComponentId>74f13667-c5c3-30d0-85b5-3440082a5b30</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>File Size</key>
                                <value>
                                    <name>File Size</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Batch Size</key>
                                <value>
                                    <name>Batch Size</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Data Format</key>
                                <value>
                                    <name>Data Format</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Unique FlowFiles</key>
                                <value>
                                    <name>Unique FlowFiles</name>
                                </value>
                            </entry>
                            <entry>
                                <key>generate-ff-custom-text</key>
                                <value>
                                    <name>generate-ff-custom-text</name>
                                </value>
                            </entry>
                            <entry>
                                <key>character-set</key>
                                <value>
                                    <name>character-set</name>
                                </value>
                            </entry>
                            <entry>
                                <key>mime-type</key>
                                <value>
                                    <name>mime-type</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>File Size</key>
                                <value>0B</value>
                            </entry>
                            <entry>
                                <key>Batch Size</key>
                                <value>1</value>
                            </entry>
                            <entry>
                                <key>Data Format</key>
                                <value>Text</value>
                            </entry>
                            <entry>
                                <key>Unique FlowFiles</key>
                                <value>false</value>
                            </entry>
                            <entry>
                                <key>generate-ff-custom-text</key>
                                <value>1669957456111,2022-12-02,14:04:16.111,2022-12-02
                                    14:04:16.111,DGPS,37.270886366666666,127.21369444166666,82.986,97.57
                                </value>
                            </entry>
                            <entry>
                                <key>character-set</key>
                                <value>UTF-8</value>
                            </entry>
                            <entry>
                                <key>mime-type</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 min</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateFlowFile (CSV Data Generation)</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>ab6e7c88-4275-3585-0000-000000000000</id>
                    <parentGroupId>c480ee44-79a7-3acd-0000-000000000000</parentGroupId>
                    <position>
                        <x>1328.0</x>
                        <y>736.0</y>
                    </position>
                    <versionedComponentId>8d1d4b04-eb8f-3c9b-8c10-96d4661d3ae6</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Directory</key>
                                <value>
                                    <name>Directory</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Conflict Resolution Strategy</key>
                                <value>
                                    <name>Conflict Resolution Strategy</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Create Missing Directories</key>
                                <value>
                                    <name>Create Missing Directories</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Maximum File Count</key>
                                <value>
                                    <name>Maximum File Count</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Last Modified Time</key>
                                <value>
                                    <name>Last Modified Time</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Permissions</key>
                                <value>
                                    <name>Permissions</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Owner</key>
                                <value>
                                    <name>Owner</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Group</key>
                                <value>
                                    <name>Group</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Directory</key>
                                <value>/home/nifi/data</value>
                            </entry>
                            <entry>
                                <key>Conflict Resolution Strategy</key>
                                <value>replace</value>
                            </entry>
                            <entry>
                                <key>Create Missing Directories</key>
                                <value>true</value>
                            </entry>
                            <entry>
                                <key>Maximum File Count</key>
                            </entry>
                            <entry>
                                <key>Last Modified Time</key>
                            </entry>
                            <entry>
                                <key>Permissions</key>
                            </entry>
                            <entry>
                                <key>Owner</key>
                            </entry>
                            <entry>
                                <key>Group</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutFile</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutFile</type>
                </processors>
                <processors>
                    <id>f2e74fc5-0b1d-3e1c-0000-000000000000</id>
                    <parentGroupId>c480ee44-79a7-3acd-0000-000000000000</parentGroupId>
                    <position>
                        <x>256.0</x>
                        <y>744.0</y>
                    </position>
                    <versionedComponentId>b82939ef-188a-39b0-9255-3fe98729c9f1</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Delete Attributes Expression</key>
                                <value>
                                    <name>Delete Attributes Expression</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Store State</key>
                                <value>
                                    <name>Store State</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Stateful Variables Initial Value</key>
                                <value>
                                    <name>Stateful Variables Initial Value</name>
                                </value>
                            </entry>
                            <entry>
                                <key>canonical-value-lookup-cache-size</key>
                                <value>
                                    <name>canonical-value-lookup-cache-size</name>
                                </value>
                            </entry>
                            <entry>
                                <key>filename</key>
                                <value>
                                    <name>filename</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
                                <key>Store State</key>
                                <value>Do not store state</value>
                            </entry>
                            <entry>
                                <key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
                                <key>canonical-value-lookup-cache-size</key>
                                <value>100</value>
                            </entry>
                            <entry>
                                <key>filename</key>
                                <value>output.parquet</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>f5142004-6179-3d1e-0000-000000000000</id>
                    <parentGroupId>c480ee44-79a7-3acd-0000-000000000000</parentGroupId>
                    <position>
                        <x>1328.0</x>
                        <y>496.0</y>
                    </position>
                    <versionedComponentId>bf77ae99-d7cd-3d4f-b3f9-69145cd7ae60</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Delete Attributes Expression</key>
                                <value>
                                    <name>Delete Attributes Expression</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Store State</key>
                                <value>
                                    <name>Store State</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Stateful Variables Initial Value</key>
                                <value>
                                    <name>Stateful Variables Initial Value</name>
                                </value>
                            </entry>
                            <entry>
                                <key>canonical-value-lookup-cache-size</key>
                                <value>
                                    <name>canonical-value-lookup-cache-size</name>
                                </value>
                            </entry>
                            <entry>
                                <key>filename</key>
                                <value>
                                    <name>filename</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
                                <key>Store State</key>
                                <value>Do not store state</value>
                            </entry>
                            <entry>
                                <key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
                                <key>canonical-value-lookup-cache-size</key>
                                <value>100</value>
                            </entry>
                            <entry>
                                <key>filename</key>
                                <value>output.avro.parquet</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Timestamp</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>09/07/2023 23:08:35 KST</timestamp>
</template>
